.hidden {
  display: none;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.monthSelector {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.daySelector {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.timeInput {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
