.hidden {
  display: none;
}

.dayOfWeek {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.daySelector {
  margin-left: 10px;
}

.timeInput {
  margin-left: 10px;
}

.btn {
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}
